{
  "// NOTA": "Copia este archivo como appsettings.Development.json (gitignored) y pon tu cadena real. NO commitees secretos.",
  "Providers": {
    "CatalogRepository": "Mongo"
  },
  "Mongo": {
    "ConnectionString": "mongodb+srv://<usuario>:<password>@<cluster>.mongodb.net/?appName=<app>",
    "Database": "odc_BD"
  }
}
